{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block main-header %}
	<!-- .page-title-bar -->
	<header class="page-title-bar">
		<!-- page title stuff goes here -->
		<h1 class="page-title">{{ data }} {% trans 'Môn học' %}</h1>
	</header>
	<!-- /.page-title-bar -->
{% endblock main-header %}
{% block main-content %}
<div class="page-section">
	<div class="card card-fluid">
		<div class="card-header pb-2">
			<div class="row">
				<div class="col-sm-10 pl-0">
					<div class="form-group">
						<div class="input-group input-group-alt">
							<div class="input-group has-clearable">
								<button id="clear-search" type="button" class="close"
									aria-label="Close">
									<span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
								</button>
								<div class="input-group-prepend">
									<span class="input-group-text"><span
										class="oi oi-magnifying-glass"></span></span>
								</div>
								<input id="table-search" type="text" class="form-control"
									placeholder="{% trans 'Tìm kiếm'%}">
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-sm-2 pl-0">
					<a class="btn btn-success btn-block" 
						href="{% url 'quiz:subject_add'%}" >
						{% trans 'Thêm'%}</a>
				</div>
			</div>
		</div>
		
		<div class="card-body" style="font-size: 13px">
			<table class="table table-hover" id="tbl-subject">
				<thead>
					<tr>
						<th>{% trans 'Mã môn học'%}</th>
						<th>{% trans 'Tên môn học'%}</th>
						<th>{% trans 'Ngày tạo'%}</th>
						<th class="text-center">{% trans 'Sửa|Xóa'%}</th>
					</tr>
				</thead>
				<tbody>
					{% for subject in subjects %}
					<tr>
						<td>{{ subject.code }}</td>
						<td>{{ subject.name }}</td>
						<td>{{ subject.create_date }}</td>
						<td class="text-center">
							<a class="btn btn-sm btn-icon btn-secondary" 
								href="{% url 'quiz:subject_edit' subject.id %}">
									<i class="fa fa-pencil"></i>
							</a>
							
							<a class="btn btn-sm btn-icon btn-secondary" href="#" 
								onclick="removeSubject({{ subject.id }},'{{ subject.name }}');"><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
					{% for question in subject.question_set.all %}
					<tr>
						<td>{{ question.id }}</td>
						<td>{{ question.text }}</td>
						<td>{{ subject.create_date }}</td>
						<td class="text-center">
							<a class="btn btn-sm btn-icon btn-secondary" 
								href="{% url 'quiz:subject_edit' subject.id %}">
									<i class="fa fa-pencil"></i>
							</a>
							
							<a class="btn btn-sm btn-icon btn-secondary" href="#" 
								onclick="removeSubject({{ subject.id }},'{{ subject.name }}');"><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
					{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock main-content %}

{% block scripts %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'vendor/datatables/extensions/buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extensions/buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extensions/buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extensions/buttons/buttons.print.min.js' %}"></script>


<script type="text/javascript">
var table;
$(document).ready(function() {
	table = $('#tbl-subject').DataTable({
		dom: "<'table-responsive'tr>\n        <'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
		language: {
			paginate: {
				"first":'<i class="fa fa-lg fa-angle-double-left"></i>',
				"last":'<i class="fa fa-lg fa-angle-double-right"></i>',
				'previous': '<i class="fa fa-lg fa-angle-left"></i>',
				'next': '<i class="fa fa-lg fa-angle-right"></i>'
			},
			lengthMenu: "{% trans 'Hiển thị' %} _MENU_ ",
			info: "{% trans 'Hiển thị'%} _START_ {% trans 'tới'%} _END_ {% trans 'trong'%} _TOTAL_ {% trans 'bản ghi'%}",
		},
		autoWidth: false,
		deferRender: true,
		sort : false,
		lengthMenu: [10,20,40,50],
		displayLength:10,
	});
	
	$('#table-search').on('keyup change', function (e) {
		var value = $('#table-search').val(); 
		table.search('').columns().search('').draw();
		table.search(value).draw();
	});
});
function removeSubject(subject_id,subject_name)
{
	confirm = $.message.confirm("{% trans 'Bạn muốn xóa môn học <strong>'%} "+ subject_name+'</strong> ? ');
	confirm.on('message.confirm',function(){
		var url = "{% url 'quiz:subject_delete' 'p_subject_id' %}".replace("p_subject_id",subject_id);
		
		$.fn.loading.show();
		var csrftoken = $.cookie('csrftoken');
		var posting = $.post(url, {
			'csrfmiddlewaretoken' : csrftoken,
		});
		
		posting.done(function(data) {
			if(data.handle==='error')
			{
				$.message.notification(data.msg,"center",{"class_name":"alert alert-danger"});
			}
			else if(data.handle==='success')
			{
				window.location.reload();
			}
			$.message.destroy();
			$.fn.loading.hide();
		});
	});
}
</script>
{% endblock scripts %}